@inherits LayoutComponentBase

<div class="app-top-bar">
    <NavLink class="app-home-link" href="" Match="NavLinkMatch.All">
        <span aria-hidden="true">🏠</span> Domů
    </NavLink>
</div>

<div class="app-page-content">
    @Body
</div>
