@page "/"

<PageTitle>Pub Kvíz</PageTitle>

<h1>Pub Kvíz</h1>

<p>Vyberte roli pro pokračování.</p>

<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a class="btn btn-primary" href="organizator">Jsem organizátor</a>
    <a class="btn btn-outline-primary" href="tym/pripojeni">Jsem tým</a>
</div>
