@page "/"

<PageTitle>Pub Kvíz</PageTitle>

<h1>Pub Kvíz</h1>

<p>Vyberte roli pro pokračování.</p>

<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
    <a class="btn btn-primary" href="organizator">Jsem organizátor</a>
    <a class="btn btn-outline-primary" href="tym/pripojeni">Jsem tým</a>
</div>

<hr class="my-4" />

<div class="text-center">
    <h2 class="h5">Kdo mě zná nejlíp?</h2>
    <p class="text-muted">Vytvořit zábavný kvíz pro přátele</p>
    <a class="btn btn-success" href="challenge/create">Vytvořit challenge</a>
</div>
