.quiz-question-item {
    background-color: #eef4ff;
    border: 1px solid #d8e4ff;
    box-shadow: inset 0 0 0 1px #e4edff;
}

.quiz-question-item .list-group-item {
    background-color: transparent;
}
