@page "/organizator"

<PageTitle>Organizátor</PageTitle>

<h1>Organizátorský panel</h1>

<p>Tato obrazovka je placeholder pro správu kvízů.</p>

<ul>
    <li><a href="organizator/kviz">Detail kvízu</a></li>
    <li><a href="organizator/session/cekarna">Čekárna session</a></li>
</ul>
